= "<tr>" if (book_counter % 2 == 0)
%td{ :width => "50%", :class => ("booklist" if (book_counter % 2 == 1)) }
  %table
    %tr
      %td{ :valign => "top", :width => "20%" }
        - url = book.image_url
        - url = "http://covers.openlibrary.org/b/isbn/#{book.isbn_020a}-S.jpg" if url == "openlibrary"
        #thumb
          = link_to image_tag(url), url_for(:action => "book", :id => book.id), :title => "#{book.title_main_245a}", :id => "book_entry" 
      %td{ :valign => "top" }
        %b
          = h book.title_main_245a
        %br
        - if !book.person.nil? then
          by 
          = h book.person.get_display_name  
          %br
        = h book.publication_date_260c unless book.publication_date_260c.nil?
= "</tr>" if (book_counter % 2 == 1)
/ draw a horizontal rule if we render a collection of books
- if (book_counter % 2 == 1) && book.id != @books.last.id
  %tr
    %td{ :colspan => "3" }
      %hr{ :size => "1", :width => "100%", :color => "#CCCCCC" }