#content
  %table{ :cellpadding => "2%", :width => "100%" }
    - keys = ["author", "title", "keyword", "isbn"]
    - search = ""
    - params.sort.each {|key,value| 
    -    search += key.capitalize + "=" + value + " " if keys.include?(key) && value.strip.length > 0
    -  }
    - if @books.empty?
      %tr
        %td{:align => "center" }
          %h3 
            = 'Nothing found for ' + search
    - else
      %tr
        %td{ :colspan => "3", :align => "center" }
          = will_paginate @books
          %br
          %b
            = 'Results for search with ' + search if search.length>0
          %hr{ :size => "1", :width => "100%" }
      = render(:partial => "book", :collection => @books)
      %tr
        %td{ :colspan => "3", :align => "center" }
          %br
          = will_paginate @books