<br/>
<%= link_to "All books",  url_for(:action => "books", :title => nil) %>	
<br/>
<br/>
Title: 
<% (["'"] + ("A".."Z").to_a).each do |l| 
	if params[:title].nil? || params[:title]!=l %>
	<%= link_to(l,  url_for(:action => "books" , :title => l))%>	
	<% else %>
	<font color="darkred"><%= l %></font>
	<% end 
end %>
<p>
<% form_tag(url_for(:action => "books", :title => nil), :method => :get) do %>
Search title: <%= text_field_tag :search, params[:search] %>
<%= submit_tag "Go" %>
<br/>
<br/>
Select library: <%= select_tag :library, options_for_select([["All libraries", 0]] + LibraryLocation.find(:all).map {|p| [p.name,p.id]}, params[:library].to_i), { :onchange => "submit();" } %>
<% end %>
</p>
<br/>