!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    = javascript_include_tag "jquery-1.4.min.js", "jquery-ui-1.7.2.custom.min.js", "jquery.ba-bbq.min.js", "genericlibrary"
    = stylesheet_link_tag "ec", "kibi", "jquery-ui-1.7.2.custom.css"
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title Kibi Library
  %body
    #mainpage
      #frame
        #header
          %a{ :href => "http://www.kibi-edu.org/", :target => "_blank" }
            = image_tag "../images/kibi-logo.jpg", :width => 108, :height => 108
          - form_tag( { :action => "index" }, :method => "get", :id => "search_form" ) do
            %label Search:
            = text_field_tag :search, params[:search], :class => "search"
            = image_submit_tag "../images/ec-butt-go.gif", :style => "vertical-align: bottom;", :id => "search_button"
        #content
          #left
            %b
              COLLECTIONS
            %ul
              %li{:name => 'all'}
                = link_to "All books", {}, :class => "category"
              %li{:name => 'intro'}
                = link_to "Introduction to Buddhism", { :keywords => ["Life of Buddha","Three Vehicles","Theravada","Mahayana","Vajrayana","Thai Buddhism","Chan Buddhism","Buddhism in Japan","Shin Buddhism","Pure Land Buddhism","Three Paths","Shravakayana","Pratyekabuddhayana","Bodhisattvayana","Introduction to Buddhism","Jataka","Gautama","Basic teachings","Cyclic existences","Four Noble Truths","Sakyamuni","Basic Buddhist teaching","Basic Buddhism","Buddha Shakyamuni's life story","Buddha Shakyamuni","Introduction to Zen","4 basic thoughts"] }, :class => "category"
              %li{:name => 'vinaya'}
                = link_to "Vinaya Pitaka - Discipline basket", { :keywords => ["Buddhist ethics","Ethics","Buddhist morals","Three Vows","Pratimoksha Vows","Mahayana precepts","5 precepts","Bodhisattva Vow","Samaya","Wheel of Life","Discipline","Buddhist monastic discipline","Monastic discipline","Nun","Buddhist nuns","Monks","Buddhist monks","Buddhist monks education","Discipline of monks","Monastic order","Basic teachings","Altruism","Conduct","Confession","Laity","Layman conduct","Noble Eightfold Path"] }, :class => "category"
              %li{:name => 'sutra'}
                = link_to "Sutra Pitaka - Discourse basket: Meditation", { :keywords => ["Sutras","Sutrapitaka","Vinaya Sutra","Sutta","Digha Nikaya","Brahmajala Sutta","Majjhima Nikaya","Satipathana Sutta","Foundations of mindfulness","Breathing","Samyutta Nikaya","Anguttara Nikaya","Khuddaka Nikaya","Dhammapada","Jataka","Avadana","Satkumaravadana","Four Noble Truths","Dependent Origination","Pratityasamutpada","Prajnaparamita","Prajnyaparamita Sutra","Diamond Sutra","Heart Sutra","Avatamsaka Sutra","Lankavatara Sutra","Gandavyuha Sutra","Samantabhadracaryapranidhanaraja","Lotus Sutra","Salistamba Sutra","Samadhiraj Sutra","Uttaratantrashastra","5 treatises","Philosophical schools","Siddhanta system","Vaibashika; Vijnavada","Sautrantika","Cittramata","Mind only","Mind only school","Yogacara","Madhyamaka","Prasangikamadhyamaka"," Madhyamakavatara ","Svatantrika Madhyamaka (Rangtong)","Madhyamika","Rangtong","Shentong","Mahayana","Stages of the path","lamrim","Kagyu lamrim","Mind training","Lodjong","China","Tibet (China)","Japan","Prsangika Madhyamaka (Rangtong)","Abhsamyalankara","Awakened Mind","Bhumis","Bodhicaryavatara","Bodhicitta","Bodhisattva","Bodhisattva path","Bodhisattva practice","Buddha activity","Buddha aspects","Buddha essence","Buddha nature","Buddhist meditation","Compassion; Ground","path","fruition; Hua yen Buddhism","Impermanence","lamdre","Lhagtong","Love","Loving-kindness","Mind and meditation","Paramitas","Practice of view","Samatha","Shine","Stages of meditation","Stages of the path","Wisdom","Wisdom of emptiness","Wishing prayer"] }, :class => "category"
              %li{:name => 'abhidharma'}
                = link_to "Abhidharma Pitaka - Basket of higher knowledge of phenomena", { :keywords => ["Abhidharma ","Abhidharmakosha"," Abhidharmakosabhasya","Abhidharma-Pitaka","Buddhist cosmology","Karma","Skandhas","Time","Dependent arising","Mental factors","Beginning of time","Buddhist philosophy","Buddhist studies","Causality","Cognition","Consciousness; Knowledge","theory of; Mind and mental events","Sense bases","Space and time"] }, :class => "category"
              %li{:name => 'tsema'}
                = link_to "Tsema - Theory of perception", { :keywords => ["Logic","Theory of perception","Perception","Tsema","Buddhist logic","Cognition","Valid cognition","Apoha"] }, :class => "category"
              %li{:name => 'tantra'}
                = link_to "Buddhist Tantra", { :keywords => ["Kriya","Charya","Yoga","Maha Yoga","Anu Yoga","Ati Yoga","Annuttara Yoga","Father tantra","Mother tantra","Non-dual tantra","Teacher- student relationship","Pith instructions","Offerings","Retreat","Retreal manual","Shine","Lhaktong","Sadhana","Yidams","Mahamudra","Dzogchen","Great Perfection","Great Seal","Bardo","Bardo Thödröl","Death","Lineages","Nyingma","Sakya","Kagyu","Kagyu lineage","Kadam","Gelug","Jonang","Pacification lineage","zhi byed","Bon","Ngondro","Lamdre","Terma","Guru Yoga","Teachings of the Karmapas","Teachings of the Shamarpas","Vajra songs","Life stories","Nam tar","Mahasiddha","Indian root","Indian pandits","Six Ornaments","Indian masters","84 Mahasiddhas","Translators","Lotsawa","Tertons","Karmapa Controversary","New Kadam","Siddha","Siddhas","Doha","Tantra","Tantra meditation","Tantric","Tantric Buddhist","Tantric Buddhism","Life stories of mahasiddhas","Hevajra Tantra","Kagyu lamrim","59 Indian Siddhas","Song of realization"] }, :class => "category"
              %li{:name => 'practice'}
                = link_to "Practice texts", { :keywords => ["Akshobhya practice","Amithaba practice","Kunrig practice","Practice collection","Practice text","Retreat manual","Chenrezig practice","Chöd practice","Nyingma practice","Ritual practice text","Ritual text","Sadhana","Tara practice","Retreat instructions","Purification practice"] }, :class => "category"
              %li{:name => 'reference'}
                = link_to "Reference work", { :keywords => ["Glossary","Bibliography","Catalogue","Index","Encyclopedia","Thesaurus","Register of persons","Reference book","Reference"] }, :class => "category"
              %li{:name => 'history'}
                = link_to "History - Scholarly perspective", { :keywords => ["Gender roles","Ritual","Bodhisattva Doctrine","Monasticism","Early Buddhism","Philology","History of Buddhism in general","Modern India","Buddhism in the West"," Contemporary Buddhist organizations","History and culture of early Buddhist countries","Culture","Tibet","Tales","Mythology","Myths","Science of history","History of Asia","Religious history","History of India","History and criticism","History and criticis","Buddhist history in Europe"] }, :class => "category"
              %li{:name => 'comparative'}
                = link_to "Buddhism in comparative studies", { :keywords => ["Philosophy","Psychology","Buddhism and Christianity","Buddhism and Hinduism"] }, :class => "category"
              %li{:name => 'nonbuddhist'}
                = link_to "non-Buddhist subjects", { :keywords => ["Advaita Vedanta","Indian philosophy","Chinese philosophy","Western philosophy","Science","Religion","Hinduism","Guru","Judaism","Islam","Christianity","Taoism","Jainism"] }, :class => "category"
              %li{:name => 'pilgrimage'}
                = link_to "Pilgrimage", { :keywords => ["Pilgrimage","Kailash","Guide to Ü and Tsang","Guidebook","Holy places","Tibet travelogue","Travel guide","Travelogue"] }, :class => "category"
              %li{:name => 'languages'}
                = link_to "Languages", { :keywords => ["Sanskrit","Pali","Tibetan","Dictionary","Colloquial Tibetan","Glossaries","Classical Tibetan","Translating Tibetan","Tibetan text book","Classical Tibetan textbook","Tibetan Buddhist terminology","Modern Tibetan language","Tibetan grammar","Tibetan classical grammar","Tibetan language","Tibetan literature","Tibetan proverbs","Spoken Tibetan","Grammar","Sanskrit grammar","Prakrit grammar","Chinese language","English language","Pali language","German language","Sanskrit language","Spanish language","Indian languages","Tibeto-Burman languages","Russian language","Hindi language","Zang zung language","Vedic language","Nepalese language","Javanese language","Sanskrit roots","Sanskrit literature","Lhasa dialect","Sanskrit monography","Sanskrit poetry","Canonical Pali literature","Pali literature","Buddhist Pali terminology","Prakrit syntax","Prakrit phonetics","Sanksrit semantic","Translation problems","Spelling","Orthography","Termes and phrases","Tibetan drama","Translation principles","Translation"] }, :class => "category"
              %li{:name => 'art'}
                = link_to "Buddhist art", { :keywords => ["Art","Buddhist art","Tibetan art","Tibetan Buddhist art","China art","Japanese art","Arts and crafts","Symbolism","Buddhist symbolism","Iconography","Mandala","Stupa","Thanka","Painting","Mural painting","Statues","art of Buddhist countries","Exhibitions","Thangka painting","Modern painting in Tibet","Tibetan book covers","Buddhist temples","Sculpture"] }, :class => "category"
              %li{:name => 'medicine'}
                = link_to "Tibetan medicine and astrology", { :keywords => ["Buddhism and medicine","Tibetan medicine","Medicine","Astrology","Tibetan medicine","Medicine Buddha","Alternative medicine","Materia medica","Tibetan psychiatry","Spiritual healing","Medicinal substances","Mental health"] }, :class => "category"
              %li{:name => 'magazines'}
                = link_to "Magazines", { :keywords => ["Journal","Buddhist journal","Quarterly magazine","Monthly magazine","Articles"] }, :class => "category"
          #right
            = yield
      #push
    #footer
      %span#footercopyright Copyright &copy; 2009 Kibi
 
